@media(max-width:992px){
    .Creative_Design_all {
        background: #fff;
        position: relative;
        border-radius: 10px;
        border-bottom: 4px solid #4B0FBF;
        width: 100%;
        margin-left: auto;
        margin-top: 20px;margin-bottom: 65px;
    }
    .navbar a:hover:before, .navbar li:hover > a:before, .navbar .active:before {
        visibility: visible;
        width: 100%;
    }
    .contact .info-box p {
        padding: 0;
        line-height: 24px;
        font-size: 14px;
        margin-bottom: 0;
        text-align: left;
    }
    .c_design_img img {
        width: 11% !important;
        background: #fff;
        border-radius: 10px;
        background-size: cover;
        position: absolute;
        top: -7px;
        left: 0px;
    }
    #hero h2 {
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 30px;
        text-align: justify;
    }
    #hero h1 {
        font-size: 30px;
        margin-bottom: 10px;
        line-height: 38px;
        
    text-align: center;}
    .clcnt-box {
        text-align: center;
        color: #fff;
        transition: all 0.25s linear;
        margin-bottom: 50px;
    }
 
}

@media(max-width:776px){
    .col-sm-6 {
        width: 50%;
        flex: 0 0 auto;
    }
    .our-active p {
        text-align: justify !important;
    }
    .owl-theme .owl-nav.disabled + .owl-dots {
        margin-top: 10px;
        position: relative;
        right: 265px;
        display: none !important;
    }
    .margint-tr{
        margin-top: 20px;
    }
    .bg-color {
        color: rgb(255, 255, 255);
        background: rgb(64, 75, 203);
        padding: 10px 30px;
        border-radius: 5px;
        margin-top: 45px;
    }
}

@media(max-width:600px){
    .c_design_img img {
        width: 18% !important;
        background: #fff;
        border-radius: 10px;
        background-size: cover;
        position: absolute;
        top: -2px;
        left: 0px;
    }
    .Creative_Design_all {
        background: rgb(255, 255, 255);
        position: relative;
        border-radius: 10px;
        border-bottom: 4px solid rgb(75, 15, 191);
        width: 100%;
        margin-left: auto;
        margin-top: 30px;
        margin-bottom: 29px;
    }
}